.ADDTOPICS {
    border: 1px solid #d2d0d0;
    height: 300px;

    .container {
        margin: 20px;
        width: 60%;
        // margin-inline: auto;
        margin-left: 40px;

        form {
            label {
                display: block;
                font-size: 26px;
                font-weight: 300;
                margin-bottom: 6px;

            }

            input {
                display: block;
                margin-bottom: 6px;
                width: 80%;
                color: rgba(0, 0, 0, 0.87);
            }

            #title {
                padding: 10px;
                height: 46px;
                font-size: 22px;
                font-weight: 300;
            }

            #keywords {
                height: 10px;
                font-size: 22px;
                font-weight: 400;
                width: 605px;
            }

            .mar {
                margin-top: 15px;
            }

            .button {
                all: unset;
                display: block;
                margin-top: 10px;
                background-color: var(--button-color);
                color: white;
                cursor: pointer;
                padding: 10px;
                font-size: large;
            }

            .button:hover {
                background-color: rgb(226, 89, 47);
            }

        }
    }
}